<!doctype html>
<html>
    <head>
     <title>Video-Games online store</title>

     <script src="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.js"></script>
     <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.css">
     <script src="{{ url_for('static', filename='script.js') }}"></script>
     <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styl
    e.css') }}">
    </head>
    <body>
    <h1>Video-Games online store</h1>
    <!-- [START gae_python38_auth_firebase_html] -->
    <!-- [START gae_python3_auth_firebase_html] -->
    <div id="firebaseui-auth-container"></div>
    <button id="sign-out" hidden=true>Sign Out</button>
     <button id="show-games" hidden="true" >Show list of games</button>
    <p id = "paragraph"></p>
    <div id="login-info" hidden=true>
     <h2>Login info:</h2>
     {% if user_data %}
     <dl>

        <dt>Name</dt><dd>{{ user_data['name'] }}</dd>
        <dt>Email</dt><dd>{{ user_data['email'] }}</dd>
        <dt>Last visit {{ times }}</dt>


        </dl>
        {% elif error_message %} 
        <p>Error: {{ error_message }}</p>
        {% endif %} 
       </div>
       <!-- [END gae_python3_auth_firebase_html] -->
       <!-- [END gae_python38_auth_firebase_html] -->
       </body>
       <!-- The core Firebase JS SDK is always required and must be listed first -->
       <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
       <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
       <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
       <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-analytics.js"></script>
       <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
       const firebaseConfig = {
        apiKey: "AIzaSyAGDRWcAZMpun88AsL4K98Zl0Y6fC2FAVs",
        authDomain: "adassigment.firebaseapp.com",
        projectId: "adassigment",
        storageBucket: "adassigment.appspot.com",
        messagingSenderId: "587152263058",
        appId: "1:587152263058:web:3028ce4b09f200fd99e34b",
        measurementId: "G-1HV6VEY963"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig); 
        firebase.analytics(); 
       </script>
       </html>
        