{% extends "base.html" %}

{% block content %}

<h1>Profile</h1>

<p>Login</p>

<div id="firebaseui-auth-container"></div>

<button id="sign-out" hidden=true class="btn btn-info">Sign Out</button>
<div id="login-info" hidden=true>
    {% if user_data %}

    {% elif error_message %}
        {% block unauthenticatedContent %}
            <p>Error: {{ error_message }}</p>
        {% endblock %}
    {% endif %}
</div>

    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-analytics.js"></script>

<script>
// Your web app's Firebase configuration
       const firebaseConfig = {
        apiKey: "AIzaSyAGDRWcAZMpun88AsL4K98Zl0Y6fC2FAVs",
        authDomain: "adassigment.firebaseapp.com",
        projectId: "adassigment",
        storageBucket: "adassigment.appspot.com",
        messagingSenderId: "587152263058",
        appId: "1:587152263058:web:3028ce4b09f200fd99e34b",
        measurementId: "G-1HV6VEY963"
        };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>

{% endblock %}